.card {
    width: 320px; 
    height: auto;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    margin: 0; 
    padding: 10px;
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    z-index: 1000; 
    animation: fadeIn 0.3s ease-in-out; 
  }
  
  /* Animación de aparición */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .card-wrapper {
    display: flex; 
    align-items: center;
  }
  
  .card-icon {
    flex-shrink: 0; 
    margin-right: 10px; 
  }
  
  .card-icon .icon-cart-box {
    background-color: #ffe4e1;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    padding: 15px;
}

.card-icon .icon-cart-box svg path {
    fill: #ff0099; 
}

  
  .card-content {
    flex-grow: 1;
  }
  
  .card-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .card-title {
    font-size: 1em;
    font-weight: 600;
    color: #333;
  }
  
  .card-action svg {
    cursor: pointer;
    fill: rgba(0, 0, 0, 0.2);
    transition: 0.3s ease-in-out;
  }
  
  .card-action svg:hover {
    fill: rgba(0, 0, 0, 0.6);
  }
  
  .product-name {
    font-size: 0.9em;
    color: #757575;
    margin-top: 5px;
  }
  
  .product-name:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  
  .product-price {
    font-size: 0.9em;
    font-weight: 600;
    color: #333;
    margin-top: 5px;
  }
  
  .btn-view-cart {
    font-size: 0.8em;
    font-weight: 600;
    padding: 8px 15px;
    margin-top: 10px;
    border-radius: 15px;
    color: #ff0099;
    border: 1px solid #ff0099;
    background-color: #e0f2f1;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  
  .btn-view-cart:hover {
    color: white;
    background-color: #ff0099;
  }
  
  /* Ajuste para pantallas pequeñas */
  @media (max-width: 480px) {
    .card {
      width: 90%; 
      right: 5%;
      bottom: 10px;
    }
  }
  