.busqueda{
    padding: 1rem;
    margin-left: auto;
}
.container2 {
    display: flex;
    align-items: center;
    gap: 1rem; 
    width: 100%;
    justify-content: space-between; 
    margin-left: 1rem;
    margin-right: 3rem;
}
.search {
    display: flex;
    align-items: center;
    gap: 5px; 
}

.search i {
    color: white;
    font-size: 30px;
    margin-left: 10px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.search i:hover {
    color: #ff0099; 
}

.hidden {
    display: none; /
}
.search input {
    width: 0; 
    font-size: 16px; 
    padding: 0.5rem;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transition: width 0.4s ease-in-out, opacity 0.4s ease-in-out;
    overflow: hidden;
    background-color: white;
    opacity: 0; 
}

.search input:focus {
    outline: none;
}
/*Expansion de la barra*/
#find {
    width: 0;
    opacity: 0;
    transition: width 0.3s ease, opacity 0.3s ease; 
    max-width: 350px; 
    
}

#find.visible {
    width: 350px; 
    opacity: 1; 
    font-size: 10px;
}


@media (max-width: 768px) {
    .container2 {
        display: flex;
        flex-direction: column;
        align-items: flex-end; 
        padding: 0;
        width: 100%;
    }

    .busqueda {
        margin: 0;
        padding: 0.5rem;
        width: 100%;
        text-align: right; 
    }

    .search {
        display: flex;
        align-items: center;
        justify-content: flex-end; 
        width: 100%;
    }

    .search input {
        width: 100%; 
        font-size: 16px;
        padding: 0.5rem;
        box-sizing: border-box; 
        transition: width 0.3s ease; 
    }

    .search input:focus {
        width: 90%; 
    }

    .search i {
        font-size: 20px;
        margin-left: 0.5rem;
    }
    #find{
        max-width:200px;
    }
}
