
.carrito-compra {
    position: fixed;
    top: 0;    
    max-width: 500px;
    min-width: 100px;
    right: -500px; 
    width: 500px; 
    height: 100%; 
    background-color: white;
    box-shadow: -1px 0 5px rgba(0, 0, 0, 0.3);
    transition: right 0.3s ease;
    z-index: 10000; 
    overflow-y: auto; 
}

.carrito-compra.mostrar {
    right: 0; 
}

.cabecera-carrito {
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    padding: 1rem;
    background-color: #ffffff; 
    border: 5px solid #f81c9c;
    width: 100%;
}

.cerrar-ventana {
    cursor: pointer; 
    background: none; 
    border: none; 
    padding: 0; 
}

.cabecera-carrito h3 {
    font-size: 2rem; 
}


.items-carrito {
    padding: 1rem;
}

/* Estilo del pie del carrito */
.pie-carrito {
    padding: 1rem;
    border-top: 1px solid #ccc;
    justify-content: center;
    display: block;
    align-content: center;
    align-items: center;
}


.boton-checkout {
    
    background-color: #f635b6; 
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.boton-checkout:hover {
    background-color: #cf27c1; 
}

.subtitulo{
    font-size: 2rem;
    text-align: center;
}

#total-carrito{
    color: #ff0295;
    text-align: center;
}   
