.contenedorjefe {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin: 0;
 
}

.items-carrito {
  display: none;
}

.visa-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    width: 600px;
    height: 380px;
    background-image: radial-gradient(
      circle 897px at 9% 80.3%,
      rgba(55, 60, 245, 1) 0%,
      rgba(234, 161, 15, 0.9) 100.2%
    );
    border-radius: 10px;
    padding: 20px;
    font-family: "Lilita One", sans-serif;
    position: relative;
    gap: 15px;
  }
  .logoContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: fit-content;
    position: absolute;
    top: 0;
    left: 0;
    padding: 18px;
  }
  .svgLogo {
    height: 40px;
    width: auto;
  }
  .inputstyle::placeholder {
    color: #ffffff;
  }
  .inputstyle {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    caret-color: red;
    font-size: 13px;
    height: 25px;
    letter-spacing: 1.5px;
  }
  .number-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
  }
  #cardNumber {
    width: 100%;
    height: 50px;
  }
  .name-date-cvv-container {
    width: 100%;
    height: 25px;
    display: flex;
    gap: 10px;
  }
  .name-wrapper {
    width: 60%;
    height: fit-content;
    display: flex;
    flex-direction: column;
  }
  .expiry-wrapper,
  .cvv-wrapper {
    width: 30%;
    height: fit-content;
    display: flex;
    flex-direction: column;
  }
  .cvv-wrapper {
    width: 10%;
  }
  #expiry,
  #cvv {
    width: 100%;
  }
  .input-label {
    font-size: 8px;
    letter-spacing: 1.5px;
    color: #e2e2e2;
    width: 100%;
  }
  

  

  .pie-carrito .boton-carrito {
    display: flex;
    padding: 1rem;
    justify-content: center;
}

.boton-checkout {
    background-color: #f635b6; 
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.boton-checkout:hover {
    background-color: #cf27c1; 
}

.subtitulo {
    font-size: 2rem;
    text-align: center;
}

#total-carrito {
    color: #ff0295;
    text-align: center;
}


