:root{
    --fondo: #E7EBE8;
    --ubiacion: #B7D6B7; 
    --rosa:#f81c9c;
    --blanco:#ffffff;
  }

.contenedor-vendimia {
    display: grid;
    
    grid-template-columns: repeat(5, 1fr); 
    gap: 2rem; 
    padding: 2rem;
    margin: auto;
    width: 100vw;
    height: auto;
}

.productos {
    display: contents; 
}

.producto {
    background-color: #ffffff00;
    padding: 5rem;
    border: 3px solid var(--rosa);
    text-align: center;
    flex-direction: column;
    justify-content: center; 
}

.productos a {
    text-decoration: none; /*ESTO QUITA EL SUBRAYADO DE UN ENLACE*/
    color: var(--rosa); 
}