:root{
    --fondo: #E7EBE8;
    --ubiacion: #B7D6B7; 
    --rosa:#f81c9c;
    --blanco:#ffffff;
  }

.contenedor-vendimia {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 2rem; 
    padding: 2rem;
    margin: auto;
    width: 90vw;
    height: auto;
}

.productos {
    display: contents; 
}

.producto {
    background-color: #ffffff00;
    padding: 2rem;
    border: 3px solid var(--rosa);
    text-align: center;
    flex-direction: column;
    justify-content: center; 
}

.producto img {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.producto img:hover {
    transform: scale(1.2); 
}

.producto h1 {
    color: var(--rosa);
    font-size: 2rem;
}

.productos a {
    text-decoration: none; /*ESTO QUITA EL SUBRAYADO DE UN ENLACE*/
    color: var(--rosa); 
}