:root{
    --fondo: #E7EBE8;
    --ubiacion: #B7D6B7; 
    --rosa:#f81c9c;
    --blanco:#ffffff;
  }

.contenedor-vendimia {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 2rem; 
    padding: 2rem;
    margin: auto;
    width: 90vw;
    height: auto;
}

.productos {
    display: contents; 
}

.producto {
    background-color: #ffffff00;
    padding: 2rem;
    border: 3px solid var(--rosa);
    text-align: center;
    flex-direction: column;
    justify-content: center; 
}

.producto img {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.producto img:hover {
    transform: scale(1.2); 
}

.producto h1 {
    color: var(--rosa);
    font-size: 2rem;
}

.productos a {
    text-decoration: none; /*ESTO QUITA EL SUBRAYADO DE UN ENLACE*/
    color: var(--rosa); 
}

/* MAPA */
#mapa {
	width: 100%;
    max-width: 600px;
    height: 400px; 
    border: 4px solid var(--rosa);
    padding: 10px; 
    overflow: hidden;
	margin: 0 auto;
}
iframe {
    width: 100%;
    height: 100%;
    border: none; 
}

@media (max-width: 769px) {
   #mapa {
	max-width: 200px;
	height: 200px;
	margin: 150px 0 0 25px;
   }
}

/*Ubicacion*/
.ubicacion{
	margin-top: 0;
	padding: 50px 0;
}
.titulo{
	font-family: "Protest Strike", sans-serif;
	color: #1c1c1c;
	text-align: center;
	font-size: 3rem;
	margin-bottom: 20px;
}
