:root{
  --fondo: #E7EBE8;
  --ubiacion: #B7D6B7;
}
*{
   
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}
body{
	background-size: 100vw 100vh;
	background-repeat: no-repeat;
    background-color: var(--fondo);
}

.capa{
	position: fixed;
	width: 100%;
	height: 100vh;
	z-index: -1;
	top: 0;
	left: 0;
}
