/*Estilos para el encabezado*/
.header{
	width: 100%;
	height: 100px;
    display: flex;
	position: relative; /*Para que al bajar no se quede ahí*/
	top: 0;left: 0;
    background: linear-gradient(190deg, #FFC1E3, #FF8FB1, #FF6EA1, #F94D9C);
}
.container{
	width: 90%;
	max-width: auto;    
    left: 3rem;
	/* margin: auto; */
    
}
/*body*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.container .btn-menu, .logito{
	float: left;
	line-height:100px;
}
.container .btn-menu label{
	color: #000000;
	font-size: 25px;
	cursor: pointer;
}
.container .carrito{
    text-align: right;
    place-items: center;
    width: 100%;
    margin-top: 1.2rem;
    height: 100px;
}
@media (max-width: 768px ) {
	.container .carrito {
		position: absolute;
		top: 10px;
		right: 10px;
		margin-top: 0;
		width: auto;
		height: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		transform: scale(0.5);
	}
	.container .carrito img {
		width: 25px;
		height: 25px;
	}
   
}

.logito h2{
    font-family: "Lilita One", sans-serif;
	color: #fff;
	font-weight: 400;
	font-size: 2.5rem;
	margin-left: 10px;
    text-align: center;
}

@media (max-width: 768px) {
    .logito h2 {
        font-size: 1.8rem; 
    }
    
    img {
        width: 40px;
        height: 35px; 
    }

    .container {
        text-align: center; 
    }
    
    .container .btn-menu label {
        font-size: 20px; 
    }
}

img{
    width: 60px;
    height: 50px;
}
.container .menu{
	float: right;
	line-height: 100px;
}
.container .menu a{
	display: inline-block;
	padding: 15px;
	line-height: normal;
	text-decoration: none;
	color: #fff;
	transition: all 0.3s ease;
	border-bottom: 2px solid transparent;
	font-size: 15px;
	margin-right: 5px;
}
.container .menu a:hover{
	border-bottom: 2px solid #c7c7c7;
	padding-bottom: 5px;
}
/*Fin de Estilos para el encabezado*/

/*Menù lateral*/
#btn-menu{
	display: none;
}
.container-menu{
	position: fixed;
	background: rgba(0,0,0,0.5);
	width: 100%;
	height: 100vh;
	top: 0;left: 0;
	transition: all 500ms ease;
	opacity: 0;
	visibility: hidden;
    z-index: 10;
}
#btn-menu:checked ~ .container-menu{
	opacity: 1;
	visibility: visible;
}
.cont-menu{
	width: 100%;
	max-width: 250px;
    color: #000000;
	background: #fff;
    border: 4px solid #f81c9c;
	height: 100vh;
	position: relative;
	transition: all 500ms ease;
	transform: translateX(-100%);
}
#btn-menu:checked ~ .container-menu .cont-menu{
	transform: translateX(0%);
}
.cont-menu nav{
	transform: translateY(15%);
}
.cont-menu nav a{
    font-family: "Lilita One", sans-serif;
	display: block;
	text-decoration: none;
	padding: 20px;
	color: #000000;
	border-left: 5px solid transparent;
	transition: all 400ms ease;
}
.cont-menu nav a:hover{
	border-left: 5px solid #f81c9c;
	background: #1f1f1f00;
}
.cont-menu label{
	position: absolute;
	right: 5px;
	top: 10px;
	color: #080808;
	cursor: pointer;
	font-size: 18px;
}
/*Fin de Menù lateral*/

/*FOOTER*/
.contenedor_footer {
    background: linear-gradient(190deg, #FFC1E3, #FF8FB1, #FF6EA1, #F94D9C);
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 2rem 3rem;
    flex-wrap: wrap;
    position: relative;
    margin-top: 20px;
    
}

/* Ajuste del logo y dirección */
.logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%; /* Ocupará un 40% del footer */
}

.logo h2 {
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
}

.logo p {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.logo img {
    width: 150px;
    height: auto;
    margin-bottom: 1rem;
}

/* Ajuste de los derechos */
.derechos {
    text-align: center;
    font-size: 1.5rem;
    width: 40%; /* Ocupará un 40% del footer */
    font-weight: bold;
}

.derechos p {
    margin: 0.5rem 0;
}

/* Redes sociales fijas a la derecha */
.redes {
    position: fixed;
    right: 10px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.redes svg {
    width: 40px;
    height: 40px;
    cursor: pointer;
}


.preguntasf {
    position: absolute;
    bottom: 10px; /* Ajusta este valor según sea necesario */
    left: 10px; /* Ajusta este valor según sea necesario */
}
/* Ajustes responsivos */
@media (max-width: 768px) {
    .contenedor_footer {
        flex-direction: column;
        align-items: center; /* Centrar todos los elementos */
        justify-content: center;
        padding: 2rem 1rem;
        text-align: center; /* Centrar el texto */
    }

    .logo, .derechos {
        width: 100%;
        text-align: center; /* Asegurarse de que todo esté centrado */
		align-items: center;
        margin-bottom: 1rem;
    }

    .logo img {
        width: 120px; /* Tamaño más pequeño en pantallas móviles */

    }

    .derechos {
        font-size: 1.3rem;

    }

    .redes {
        right: 5px;
        bottom: 10px;
        gap: 5px;
    }

    .redes svg {
        width: 30px;
        height: 30px;
    }
}

a svg {
    text-decoration: none; /* Elimina el subrayado */
    display: inline-block; /* Asegura que SVG se comporte correctamente */
}
a {
    text-decoration: none; /* Aplica para todos los enlaces */
}

/* FIN DEL FOOTER */